<!DOCTYPE html>
<!-- Esto es un comentario... -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 style="text-align: center;background-color: violet;color: white">TechShop</h1>
        <a href="/">TechShop</a> | <a href="/ejemplo2">Mis Autos</a>
        <h2>Su tienda en linea</h2>
        <p>La mejor tienda de comercialización de tecnología</p>
        <<h2>Lunes</h2>
        <img src="/img/lunes.jpg" alt=""/>
        <<h2>Martes</h2>
        <img src="https://th.bing.com/th/id/R.840d45151299e0f4ac4ab71b585b00b3?rik=MjTNVq09CmDftA&riu=http%3a%2f%2f2.bp.blogspot.com%2f--VJ4DmkfdGU%2fUvd79orfpnI%2fAAAAAAAA8QY%2fibz6h8YeqU8%2fs00%2fMclaren-MP4-12c_Imagenes-de-Carros-Deportivos-1920x1080.jpg&ehk=NUaMAGIhNNN%2bVzQ8lE%2f%2bLJDrhIVJhgg%2fdEeYPvt9NVo%3d&risl=&pid=ImgRaw&r=0" alt=""/>

    </body>
</html>
